<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778484610867-knujglqolejf4rqs5f0cfpsoj63ohl9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778484610867-knujglqolejf4rqs5f0cfpsoj63ohl9u</string>
	<key>API_KEY</key>
	<string>AIzaSyBZZGDpzYNC3yWJVJ1Fs0GnNDzx8lkaCGI</string>
	<key>GCM_SENDER_ID</key>
	<string>778484610867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pinpointview.SAGEmentor</string>
	<key>PROJECT_ID</key>
	<string>sagementor-d8531</string>
	<key>STORAGE_BUCKET</key>
	<string>sagementor-d8531.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778484610867:ios:6283ec3af2e27338ca3046</string>
	<key>DATABASE_URL</key>
	<string>https://sagementor-d8531.firebaseio.com</string>
</dict>
</plist>